.content__message__main__box
  .content__message__main__box__top
    %p.content__message__main__box__top__talker aさん
    %p.content__message__main__box__top__date 2019/03/01(Fri) 15:24:26
  %p.content__message__main__box__text さようなら
