// 変数定義用ファイル書き方$変数名: 値;
// 色
$siro: #ffffff;
$g-top: #253141;
$g-bottom: #2f3e51;
$mizuiro: #38aef0;
$kuro: #333333;
$m-time: #999999;
$m-user: #434a54;
$border: #eeeeee;
$haikei: #fafafa;
$form: #dddddd;
